body{
  background-color: #2e2e2e;
  margin: none;
}
.title {
	color: white;
	font-family: Monospace;
	text-align: center;
}
.author{
  font-family: Monospace;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  color: white;
}
.article{
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
  color: white;
  
}
.contact{
  font-family: Sans-Serif;
  font-size: 17px;
  padding-top: 20px;
  color: white;
}
img{
  padding: 0px;
}
